/*Seleccion por elemento*/

li {
    color:pink;
    font-weight: bolder
}

.hello {
    color:peru
}

.parrafo {
    color:peru;
}

#name {
    background-color: yellow;
}

/* Selector universal */


/* *{
    border: 1px dotted green;
} */


/* ul * {
    color:ini rojo;
} */

li > ul {
    display: none;
}

li:hover  ul {
    display : block;
}

